/* Shared: */

html {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

body *, body, html {
    display: flex;
    flex-direction: column;
}

html, body {
    align-items: center;
}

body {
    width: min(600px, 100%);
}

.hyperlink-button {
    margin-top: 30px;
    text-transform: uppercase;
    background-color: white;
    padding: 20px;
    width: fit-content;
    color: black;
    font-weight: bold;
}

/* Introduction: */

.introduction body {
    gap: 10px;
}

/* Game: */

.game body {
    width: 100%;
}

.game #playboy {
    padding-bottom: calc(min(100%, 90vh) / 16 * 12);
    width: min(100%, 90vh);
    position: relative;
    align-items: center;
}

.game #playboy > * {
    position: absolute;
}

.game #playboy #screen {
    width: 100%;
    height: calc(100%/12*9);
}

.game #playboy .controls {
    top: calc(100%/12*9 + 10px);
    height: min(calc(100%/12*3 - 10px), 100px);
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.game #playboy .controls button {
    font-size: large;
    padding: 0 10px;
}

.game .reset-button {
    padding: 10px;
    margin-top: 20px;
}

.game button {
    font-weight: bold;
    background: linear-gradient(#ffff4d, orange);
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    display: inline-block;
}

.game button:active {
    background: orange;
}
